.dp-test-scenario-testcase-button {
  width: 17rem;
  margin-bottom: .3rem;
}

.dp-test-scenario-header {
  display: flex;
  justify-content: center;
}

.dp-test-scenario-body {
  justify-content: center;
  display: flex;

  & * {
    overflow: hidden;
  }
}

.dp-test-scenario-cases {
  display: flex;
  flex-direction: column;
}

.dp-test-scenario-add-case-button {
  margin-left: auto;
  position: fixed;
  right: 25%;

}

.dp-test-scenario-search {
  width: 272px;
}
