<button
        class="dp-test-scenario-add-case-button"
        mat-mini-fab
        color="accent"
        aria-label="add project"
        (click)="openDialog(true)"
>
    <mat-icon>add</mat-icon>
</button>
<div class="dp-test-scenario-header">
    <mat-form-field class="dp-test-scenario-search">
        <mat-label>Search</mat-label>
        <input (keyup)="search($event)" matInput placeholder="Search">
    </mat-form-field>
</div>
<div class="dp-test-scenario-body">
    <div class="dp-test-scenario-cases">
        <ng-container *ngFor="let testcase of filteredTestcases">
            <div style="display: flex">
            <button class="dp-test-scenario-testcase-button" mat-stroked-button
                    (click)="openDialog(false, testcase)"
            >
                {{testcase.name}}
            </button>
            <button
                    class="dp-test-dialog-delete-step-button"
                    mat-icon-button
                    color="accent"
                    aria-label="add project"
                    (click)="deleteTestcase(testcase.id)"
            >
                <mat-icon>delete_outline</mat-icon>
            </button>
            </div>
        </ng-container>
    </div>
</div>
