<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content class="dp-test-dialog-content-container">
    <div class="dp-test-dialog-run-info">
        <span class="dp-test-dialog-run-left">
            <p>ID:</p>
            <p>Label:</p>
            <p>Assign:</p>
            <p>Priority:</p>
            <p>Description</p>
        </span>
        <span class="dp-test-dialog-run-right">
            <p>{{data.id}}</p>
            <p>{{data.label}}</p>
            <p>{{data.assign}}</p>
            <p>{{data.priority}}</p>
            <p>{{data.description}}</p>
        </span>
    </div>
    <div class="dp-test-dialog-run-header">
        <p>No.</p>
        <p>Description</p>
        <p>Expected result</p>
        <p>Actual result</p>
    </div>
    <ng-container *ngFor="let step of data.steps; let i = index">
        <div class="dp-test-dialog-step-container">
            <p>{{i}}.</p>
            <mat-form-field appearance="standard">
                <textarea readonly matInput>{{step.description}}</textarea>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <textarea readonly matInput>{{step.expectedResult}}</textarea>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <textarea matInput value="{{step.actualResult}}" [(ngModel)]="step.actualResult" placeholder="Actual result"></textarea>
            </mat-form-field>

        </div>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Save</button>
    <button *ngIf="!data.finished" mat-button (click)="onMoveToFinish()">Move to finished</button>
    <button *ngIf="data.finished" mat-button (click)="onMoveToProcess()">Move to in process</button>
    <mat-form-field class="dp-test-dialog-run-select">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="data.status" matNativeControl required>
            <mat-option value="Passed">Passed</mat-option>
            <mat-option value="Retest">Retest</mat-option>
            <mat-option value="Blocked">Blocked</mat-option>
            <mat-option value="Failed">Failed</mat-option>
        </mat-select>
    </mat-form-field>
</div>
