<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content class="dp-test-dialog-content-container">
    <div class="dp-test-dialog-run-info">
    <span class="dp-test-dialog-run-left">
        <p>ID:</p>
        <p>Label</p>
        <p>Assign</p>
    </span>
        <span class="dp-test-dialog-run-right">
        <p>{{data.id}}</p>
        <p>{{data.label}}</p>
        <p>{{data.assign}}</p>
    </span>
    </div>
    <div class="dp-test-dialog-run-header">
        <p>No.</p>
        <p>Description</p>
        <p>Expected result</p>
        <p>Actual result</p>
    </div>
    <ng-container *ngFor="let step of data.steps; let i = index">
        <div class="dp-test-dialog-step-container">
            <p>{{i}}.</p>
            <mat-form-field appearance="standard">
                <textarea readonly matInput>{{step.description}}</textarea>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <textarea readonly matInput>{{step.result}}</textarea>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <textarea matInput placeholder="Actual result"></textarea>
            </mat-form-field>

        </div>
    </ng-container>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button>Save</button>
    <button mat-button [mat-dialog-close]="data">Move to finished</button>
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select matNativeControl required>
            <mat-option value="passed">Passed</mat-option>
            <mat-option value="retest">Retest</mat-option>
            <mat-option value="blocked">Blocked</mat-option>
            <mat-option value="failed">Failed</mat-option>
        </mat-select>
    </mat-form-field>
</div>
