<div class="dp-home-page">
    <div class="dp-home-projects">
        <a routerLink="/test" routerLinkActive="active" mat-raised-button>First project</a>
        <a mat-raised-button>Second project</a>
        <a mat-raised-button>Third project</a>
        <a mat-raised-button>Other project</a>
        <a mat-raised-button>One more project</a>
        <a mat-raised-button>Second more project</a>
        <a mat-raised-button>Come on project</a>
        <a mat-raised-button>Enough project</a>
        <a mat-raised-button>Final project</a>
    </div>
    <button class="dp-home-add-project-button" mat-mini-fab color="accent" aria-label="add project"
            (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
